body {
    background-color: chocolate;
}

h1 {
    font-size: 32px;
    color: aqua;
    padding: 15px 10px;
}

h2 {
    color: cadetblue;
    border: 1px black solid;
    width: fit-content;
    padding: 3px 15px;
    border-radius: 15px;
}

.content-right {
    background-color: darkgoldenrod;
    padding: 30px;
}

.content {
    display: flex;
    margin: 30px;
    background: brown;
    padding: 30px;
}

.about {
    background-color: darkgoldenrod;
    padding: 30px;
    margin-right: 30px;
}